# Python
__pycache__/
*.pyc
*.pyo
results/
results_small
results_1
.cache/
.mplconfig/
traditional_step4/results*/
Bi_Diffusion_SMILES
Data/
*Data
Generated_polymers
ml_simulation_comparation
select_dft_validation_candidates.py

# 
experiments*/
Experiments*/

*.md

*.txt
*.csv
*.pkl
*.pt
*.png
*.pdf
*.svg
*.eps
*.tex
*.log
*.err
*.out
*.ipynb
*.pptx
*.sh
*.gz
